@model IEnumerable<ControleDeAcesso.Dominio.Sistema>

@{
    ViewBag.Title = "HomeSistema";
}

<h2> @ViewBag.Titulo </h2>
<hr />

<p>
    @Html.ActionLink("Novo Sistema", "CadastrarSistema", "Sistema", new { @class = "btn btn-primary pull-right" })
</p>

<br />
<br />
<div class="panel panel-primary">
    <div class="panel-heading">
    </div>
    <table class="table table-bordered table-responsive table-hover text-center">
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.ActionLink("Detalhes", "Edit", new { /* id=item.PrimaryKey */@class = "btn btn-primary" })
                    @*@Html.ActionLink("Detalhar", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Excluir", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }

    </table>
</div>
