<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Acesso</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Controle de Acesso", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Usuario", "HomeUsuario", "Usuario")</li>
                    <li>@Html.ActionLink("Sistema", "HomeSistema", "Sistema")</li>
                    <li>@Html.ActionLink("Permissao", "HomePermissao", "Permissao")</li>
                    <li>@Html.ActionLink("Grupo", "HomeGrupo", "Grupo")</li>
                    @*<li>@Html.ActionLink("Log", "HomeLog", "Log")</li>*@
                </ul>
            </div>
        </div>
    </div>
    <br />
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @*<p>&copy; @DateTime.Now.Year - Controle de Acesso</p>*@
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <p>
                            <p>&copy; 2018 - Controle de Acesso</p>
                        </p>
                    </div>
                    <div class="col-md-4 text-center">
                        <p>
                            <p>v1.0.0</p>
                        </p>

                    </div>
                    <div class="col-md-4 text-right">

                        <p>
                            <p>&copy; security</p>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
